
<body>
  <link rel="stylesheet" type="text/css" href="series.component.css">
    <h1 id="tv-series-header" style = "background-color: #007777">TV Series Ranking</h1>
    <div class = "table-responsive" id="series-container">
        <table class="table table-striped" id="series" >
            <thead class = "thead-dark" >
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Channel</th>
                    <th scope="col">Seasons</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let ser of series">
                  <th style="font-weight: bold">{{ser.id}}</th>
                  <td>
                    <dd><a href={{ser.webpage}}>{{ser.name}}</a></dd>
                  </td>
                  <td>{{ser.channel}}</td>
                  <td>{{ser.seasons}}</td>
                </tr>
              </tbody>
        </table>
        <p style="clear: both">Seasons Average: {{seasonsAverage}}</p>
    </div>
</body>

